---
layout: default
title: Latest
description: Features productivity, tips, inspiration and strategies for massive profits. Find out how to set up a successful blog or how to make yours even better!
---

<!-- begin hero -->
<section class="hero hero--left">
  <div class="container">
    {% if page.title %}
    <h1 class="hero__title">{{ page.title }}</h1>
    {% endif %}
  </div>
</section>
<!-- end hero -->

<section class="section">
  <div class="container">
    <div class="row grid">
      {% if site.posts.size > 0 %}
        {% for post in paginator.posts offset:0 %}
          {% include article.html class="col col-4 col-d-6 col-t-12 animate grid__post" %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

  {% include pagination.html %}
</section>