{% if site.data.settings.mailchimp_settings.enable == true %}
<div class="col col-4 col-d-12">
  <div class="widget-footer widget-subscribe">
    {% if site.data.settings.mailchimp_settings.mailchimp_title %}
    <h3 class="widget-title">{{ site.data.settings.mailchimp_settings.mailchimp_title }}</h3>
    {% endif %}
    {% if site.data.settings.mailchimp_settings.mailchimp_description %}
    <p class="widget-footer__desc">{{ site.data.settings.mailchimp_settings.mailchimp_description }}</p>
    {% endif %}
    <form class="subscribe-form validate"
      action="{% if site.data.settings.mailchimp_settings.mailchimp_identifier %}//{{site.data.settings.mailchimp_settings.mailchimp_identifier}}{% else %}#{% endif %}" method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
      <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
      <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="{% if site.data.settings.mailchimp_settings.mailchimp_input_text %}{{ site.data.settings.mailchimp_settings.mailchimp_input_text }}{% else %}Email address{% endif %}">
      <button class="button button--big" id="membedded-subscribe" type="submit" name="subscribe">{{ site.data.settings.mailchimp_settings.mailchimp_button_text }}</button>
    </form>
  </div>
</div>
{% endif %}